<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oschina.blog.mapper.BlogPostMapper">
    <select id="selectByPostId" resultType="com.oschina.blog.pojo.BlogPost">
        SELECT
            *
        FROM
            blog_posts
        where
            post_id = #{postID}
    </select>
    <select id="selectByAuthorId" resultType="com.oschina.blog.pojo.BlogPost">
        SELECT
            *
        FROM
            blog_posts
        WHERE
            author_id = #{authorId}
    </select>
</mapper>
